*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
/*variáveis*/
:root {
    --color-background: #00000088;
    --color-barra: #ffffff8d;
    --color-principal: #daa520;
}
/*Marcações*/

strong {
    color: var(--color-principal);
}