.container-cases {
	padding-bottom: 2rem;
}
#div-principal-carrossel {
	height: 50vh;
	width: 100%;
	padding: 0 !important;
}
.texto-sessao-cases {
    display: flex;
    align-items: center;
    justify-content: center;
}
.h3-cases {
    text-transform: uppercase;
    padding: 3rem 0px 1.5rem 0px;
}
.sessao-fotos-cases {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sessao-img-cases {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cases-fotos {
    width: 300px;
    height: 280px;
    cursor: pointer;
    border-radius: 15px;
    transition: all .5s;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5))
}
.body-corrossel {
    display: none;
}

/*Efeitos*/
#btn-carrossel::after {
    background-color: var(--color-principal);
}
.cases-fotos:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

/*Carrossel*/
.container-cases {
	padding-bottom: 2rem;
}
#div-principal-carrossel {
	height: 50vh;
	width: 100%;
	padding: 0 !important;
}
.texto-sessao-cases {
    display: flex;
    align-items: center;
    justify-content: center;
}
.h3-cases {
    text-transform: uppercase;
    padding: 3rem 0px 1.5rem 0px;
}
.sessao-fotos-cases {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sessao-img-cases {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cases-fotos {
    cursor: pointer;
    transition: all .5s;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5))
}
#btn-carrossel::after {
    background-color: var(--color-principal);
}

/*Efeitos*/
.cases-fotos:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}